.custom-col {
  height: inherit;

  &--side_menu {
    width: $side-menu_width;
    z-index: 2;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: .1);
  }

  &--configuration_menu {
    width: $configuration-menu_width;
    z-index: 1;
    position: relative;
    transition: .3s;
    left: 0;

    &.hidden {
      margin-left: -$configuration-menu_width;
    }

  }

  &--main_content {
    flex: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .3s;
  }
}

.custom-row {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 2.5rem);
  position: relative;
  z-index: 1;
}

.dashboard-header {
  position: relative;
  z-index: 2;
}
